html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
:focus {/* remember to define focus styles! */
  outline: 0;
}

body {
  background: #fff;
  line-height: 1;
  min-width: 1050px;
}

ol, ul {
  list-style: none;
}

table {/* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  font-weight: normal;
  text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}
a img {
  border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
h1,h2,h3,h4,h5,h6{
  font-weight:normal;
}

/*---------colors---------------*/


.main_nav .color1 a:before{
    background: #00c47f;
}
.main_nav .color2 a:before{
    background: #ef003c;
}
.main_nav .color3 a:before{
    background: #fc9700;
}
.maincontent{
    background: rgba(229, 229, 229, 0.3);
}
.s-color1{
    /*background: rgba(229, 229, 229, 0.3);*/
}
.s-color2{
    /*background: #e5e5e5;*/
}
/*------------------------------*/

.clear {
	clear: both;
}

body{
    font-family: "roboto-normal", arial, helvetica, sans-serif;
    min-width: 1000px;
	height:100%;
}

html {
	height:100%;
}

a{
    transition: all .2s;
    text-decoration: none;
}
.wrap{
    width: 1000px;
    margin: auto;
	min-height:100%;
}

.main_head{
    background: #252525;
    padding: 20px 0;
}

.logo{
    font-family: "Roboto-Medium";
    display: inline-block;
    vertical-align: middle;
    padding: 2px 2px;
    border: 2px solid #ef003c;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    margin-right: 30px;
	position:relative;
}
.logo img {
	height:40px;
}
.logo:hover{
    background:#ef003c;
    color: #fff;
}
.main_nav{
    display: inline-block;
    vertical-align: middle;
	position:relative;
 }
 .activepage{
	color:#fc9700;
 }
 
 .bank {
	margin-top:2px;
	color:#fc9700;
	display:inline-block;
	position:relative;
	float:left;
 }
 
 .bank p{
	float:right;
	margin-top: 14px;
	display:inline-block;
 }
 
 .bank span {
	 float: left;
	 display:inline-block;
 }
 
.main_nav li{
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
}
.main_nav li a{
    padding: 5px 0px;
    color: #fff;
    display: block;
    position: relative;
    font-size: 16px;
}
.main_nav li a:before{
    content:"";
    transition: all .2s;
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 1px;
}
.main_nav li a:hover:before{
    width: 100%;
}

.login_zone{
    display: inline-block;
    vertical-align: middle;
	float:right;
	position:relative;
}
.login_zone a{
	color:#fc9700;
	font-size: 16px;
	font-weight: 500;
	padding: 8px 15px;
	position: relative;
}

.login_zone div, .logout-btn, .buybtn, .btn1{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
	font-weight: 500;
    color: #fc9700;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    margin: 6px 0 6px 15px;
}
.login_zone div:before, .logout-btn:before, .buybtn:before, .btn1:before{
    content:attr(data-hover);
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 8px 15px;
    width: 100%;
    height: 100%;
    background: #00c47f;
    color: #fff;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    border-radius: 0px;
}

.fl-r{
    float: right;
	display: inline-block;
	position: relative;
	width:27%;
}

.login_zone div span, .logout-btn span, .btn1{
    display: block;
    padding: 8px 0;
    background: #00c47f;
    /*-webkit-transition: -webkit-transform 0.3s;*/
    /*-moz-transition: -moz-transform 0.3s;*/
    /*transition: transform 0.3s;*/
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    border-radius: 2px;
}
.buybtn span{
    display: block;
	padding: 8px 15px;
    background: #ff9700;
	width:60px;
	border-radius: 2px;
    /*-webkit-transition: -webkit-transform 0.3s;*/
    /*-moz-transition: -moz-transform 0.3s;*/
    /*transition: transform 0.3s;*/
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    border-radius: 2px;
}
.buybtn{
	display: inline-block;
    vertical-align: top;
    font-size: 16px;
    font-family: "Roboto";
    color: #fff;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
	margin: 120px 0 6px 45px;
	text-align: center;
}
.login_zone div:hover span, .logout-btn:hover span, .buybtn:hover span, .btn1:hover{
    /*-webkit-transform: translateX(100%);*/
    /*-moz-transform: translateX(100%);*/
    /*transform: translateX(100%);*/
    -webkit-animation: animate_btn 90s infinite; /* Safari 4+ */
    -moz-animation:   animate_btn 90s infinite; /* Fx 5+ */
    -o-animation:      animate_btn 90s infinite; /* Opera 12+ */
    animation:         animate_btn 90s infinite; /* IE 10+, Fx 29+ */

}
@-webkit-keyframes animate_btn {
    0%   { background: #ef003c; }
    5%   { background: #ef003c; }
    10%   { background: #ef003c; }
    15%   { background: #ef003c; }
    20%   { background: #ef003c; }
    25%   { background: #ef003c; }
    30%   { background: #ef003c; }
    35%   { background: #ef003c; }
    40%   { background: #ef003c; }
    45%   { background: #ef003c; }
    50%   { background: #ef003c; }
    55%   { background: #ef003c; }
    60%   { background: #ef003c; }
    65%   { background: #ef003c; }
    70%   { background: #ef003c; }
    75%   { background: #ef003c; }
    80%   { background: #ef003c; }
    85%   { background: #ef003c; }
    90%   { background: #ef003c; }
    95%   { background: #ef003c; }
    100%   { background: #ef003c; }
}
@-moz-keyframes animate_btn {
    0%   { background: #ef003c; }
    5%   { background: #ef003c; }
    10%   { background: #ef003c; }
    15%   { background: #ef003c; }
    20%   { background: #ef003c; }
    25%   { background: #ef003c; }
    30%   { background: #ef003c; }
    35%   { background: #ef003c; }
    40%   { background: #ef003c; }
    45%   { background: #ef003c; }
    50%   { background: #ef003c; }
    55%   { background: #ef003c; }
    60%   { background: #ef003c; }
    65%   { background: #ef003c; }
    70%   { background: #ef003c; }
    75%   { background: #ef003c; }
    80%   { background: #ef003c; }
    85%   { background: #ef003c; }
    90%   { background: #ef003c; }
    95%   { background: #ef003c; }
    100%   { background: #ef003c; }
}
@-o-keyframes animate_btn {
    0%   { background: #ef003c; }
    5%   { background: #ef003c; }
    10%   { background: #ef003c; }
    15%   { background: #ef003c; }
    20%   { background: #ef003c; }
    25%   { background: #ef003c; }
    30%   { background: #ef003c; }
    35%   { background: #ef003c; }
    40%   { background: #ef003c; }
    45%   { background: #ef003c; }
    50%   { background: #ef003c; }
    55%   { background: #ef003c; }
    60%   { background: #ef003c; }
    65%   { background: #ef003c; }
    70%   { background: #ef003c; }
    75%   { background: #ef003c; }
    80%   { background: #ef003c; }
    85%   { background: #ef003c; }
    90%   { background: #ef003c; }
    95%   { background: #ef003c; }
    100%   { background: #ef003c; }
	}
@keyframes animate_btn {
    0%   { background: #ef003c; }
    5%   { background: #ef003c; }
    10%   { background: #ef003c; }
    15%   { background: #ef003c; }
    20%   { background: #ef003c; }
    25%   { background: #ef003c; }
    30%   { background: #ef003c; }
    35%   { background: #ef003c; }
    40%   { background: #ef003c; }
    45%   { background: #ef003c; }
    50%   { background: #ef003c; }
    55%   { background: #ef003c; }
    60%   { background: #ef003c; }
    65%   { background: #ef003c; }
    70%   { background: #ef003c; }
    75%   { background: #ef003c; }
    80%   { background: #ef003c; }
    85%   { background: #ef003c; }
    90%   { background: #ef003c; }
    95%   { background: #ef003c; }
    100%   { background: #ef003c; }
}

.disabled {
	pointer-events: none;
	cursor: default;
}

.bank_wrap{
    /*display: inline-block;*/
	display: none;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    width: 230px;
}

.market_bg{
    padding:0;
    position: relative;
	height: 150%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
	-webkit-filter: brightness(200%);
}

.market_normal{
	-webkit-filter: brightness(50%);
}

.desc_container{
	position: absolute;
	display:inline-block;
    bottom: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 15px;
    width: 100%;
    left: 0;
}

.desc_container h2 a {
	font-size: 16px;
    font-family: "Roboto";
    color: #fff;
}

.desc_container > span{
    display: inline-block;
    vertical-align: top;
    /*width: 25px;*/
    height: 25px;
    position: relative;
    cursor: pointer;
    transition: all .3s;
}

.rightcolumn{
	display:inline-block;
    width: auto;
    height: 100%;
	float: right;
	position: absolute;
}

.name {
	display:inline-block;
    width:auto;
    height: 100%;
	float: left;
	font-size: 17px;
	margin-bottom:0 !important;
}

.add {
	height:100px;
	width:100px;
	position:absolute;
	margin: 150px 35px 20px 35px;
}

.price_inp{
    display: inline-block;
    position: absolute;
    border: 2px solid #008F6B;
    border-radius:2px;
	padding-left: 10px;
    right:15px;
    height: 26px;
    width: 35px;
    transition: all .3s;
    color: #ff9700;
    z-index: 1;
}

.price_inp.open_search{
    right: 0;
    width: 200px;
}

.bank_icon{
    cursor: pointer;
    display: block;
    border-radius: 2px;
    z-index: 3;
    height: 32px;
    width: 36px;
    right: 0;
    border: 2px solid #1B6A81;
    background: #1B6A81;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    transition: border .75s, background .3s;
    float: right;
}

.bank_icon:before, .bank_icon:after{
    content:"";
    background-position: 0 0;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -10px;
    margin-left: -10px;
    transition: all .2s;

}
.bank_icon:after{
    opacity: 0;
    background-position: -29px 0;
}

.bank_icon:hover{
    background: #303239;
}

.bank_icon:hover:before{
    /*opacity: 0;*/
}

.bank_icon:hover:after{
    /*opacity: 1;*/
}

.notLogg .leftcontent{
    width: 100%;
}

.stars-list{
    font-size: 0;
}

.star-item{
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
    margin-bottom: 40px;
	overflow: hidden;
}

.logged .catalog .leftcontent{
    width: 100%;
}

.star-item a{
    color: #fff;
}

.star-item_no_a{
	width: 220px;
    height: 330px;
    display: block;
	background-size: cover !important;
    position: relative;
}

.star-name{
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 15px;
    background: #ef003c;
    width: 100%;
    color: #fff;
    font-size: 17px;
    transition: all .3s;
    transition-delay: .2s;
}

.star-name_new{
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 15px;
    background: #ef003c;
    width: 100%;
    color: #fff;
    font-size: 17px;
    transition: all .3s;
    transition-delay: .2s;
}

.star-name h2,  .star-name_new h2{
	display:inline-block;
	vertical-align: text-bottom;
}

.star-item:nth-child(4n+4){
    margin-right: 0;
}

.star-hover{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,201,127,.8);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 25px;
    transition: all .3s;
    top: -100%;
	z-index:10;
}

.star-hover .desc{
    max-height:238px;
    overflow: hidden;
}

.star-item:hover .star-hover{
    top: 0;
    transition-delay:0s;
}
.star-item:hover .star-name{
    bottom: -100%;
}
.star-item .star-hover h2{
    color: #fff;
    font-size: 17px;
    margin-bottom: 10px;
}
.star-item .star-hover p{
    color: rgba(255,255,255,.8);
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.2;
}

.star-price{
	display:inline-block;
	color: #ff9700;
	font-size: 20px;
	vertical-align: baseline;
	float:right;
	position:relative;
}

.star-price-icon{
	display:inline-block;
	color: #ff9700;
	font-size: 18px;
	padding-top: 8px;
	padding-right: 50px;
	position: absolute;
}

.option {
	color:#fff;
	font-size: 17px;
	width:80%;
	text-align:center;
	position: absolute;
	margin-top: 100px;
}
	
.tab-content{
    opacity: 0;
    display: none;
    position: relative;
}

.tabs{
    margin: 0px 0 50px;
    text-align: center;
    font-size: 0;
}

.tabs .tab-item{
    display: inline-block;
    vertical-align: top;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;

}

.tabs .tab-item a{
    display: block;
    width: 120px;
	text-align: center;
    padding: 10px 0;
    position: relative;
    color: #fff;
    font-size: 14px;
    background: #3E4049;
    overflow: hidden;
}

.tabs .tab-item a:hover, .tabs .tab-item.active a{
    background: #ef003c;
}

/*.tabs_wrap{
    overflow: hidden;
}*/

.aligncenter{
    text-align: center;
}

footer{
	background: #252525;
    color: #ffffff;
    padding: 30px 0;
    margin: -108px auto 0;
    min-width: 1000px;
    position: relative;
	z-index:100;
}
.logo_mini{
    font-size: 16px;
    background: #ef003c;
}
.logo_mini:hover{
    opacity: .8;
}
.copy{
    float: right;
    padding: 14px 0;
    font-size: 12px;
}

/*-------login-----------*/

.morph-button {
    position: relative;

}
.form_content{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 800;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    content: '';
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    pointer-events: none;
    visibility: hidden;
}

.morph-button-fixed .morph-content {
    position: fixed;
    box-sizing: border-box;
    width: 0;
    height: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 900;
    opacity: 0;
    background: #fff;
    overflow: hidden;
    pointer-events: auto;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, right 0.4s 0.1s, margin 0.4s 0.1s;
    transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, right 0.4s 0.1s, margin 0.4s 0.1s;
    -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, right 0.4s 0.1s, margin 0.4s 0.1s;
    transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, right 0.4s 0.1s, margin 0.4s 0.1s;
    top: 10px;
    right:0;
}

.morph-button-fixed .morph-content > div {
    visibility: hidden;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
    transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
}
.content-style-form {
    text-align: left;
}

.icon-close {
    z-index: 100;
    display: block;
    position: absolute;
    top: 13px;
    right: 13px;
    cursor: pointer;
    background-position: -63px -45px;
    width: 12px;
    height: 14px;
    transition: all .2s;
    opacity: .2;
}
.icon-close:hover{
    opacity: .8;
}

.content-style-form label,.soc_login h3 {
    display: block;
    padding: 10px 0 5px;
    color: #999;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "arial", sans-serif;
    font-size: 14px;
}

.soc_login h3{
    margin-bottom: 10px;
}

.inf_btn.no_arr:after{
    width: 0;
    height: 0;
}

.content-style-form input[type="text"], .content-style-form input[type="password"] {
    padding: 10px;
    width: 100%;
    border: 2px solid #eef3f4;
    background: transparent;
    color: #999;
    font-weight: 300;
    font-size: 20px;
    display: block;
    margin-bottom: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/*-------------------------------*/
.notLogg .user_av{
    display: none;
}

.logged .signin, .logged .signup{
	display: none;
}

.signin{
	width: 76px;
}

.signup{
	width: 83px;
}

.logged .user_av{
	display: inline-block;
	vertical-align: middle;
    border: 2px solid #ef003c;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-size: cover !important;
    margin-left: 15px;
    margin-top: -2px;
	padding:0;
}

.user_av:hover{
    opacity: .8;
}

.maincontent{
    font-size: 16px;
	min-height:75.5%;
	padding-bottom:108px;
}

.maincontent h3{
    text-align: center;
    font-family: arial;
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.maincontent h3 a{
    color: #303239;
}

.maincontent h3 a:hover{
    color: #fc9700;
}

.main_section{
    border-bottom: 1px solid #D3D3D4;
    padding-bottom: 30px;
    padding-top: 50px;
}

.logged .main_section:last-of-type{
    border-bottom: none;
    /*padding-bottom: 0;*/
}

.goto{
    color: #fff;
    display: block;
    border: 2px solid #ef003c;
    text-align: center;
    padding: 10px ;
    font-size: 14px;
    font-family: roboto-medium;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    transition: all .3s;
    padding-left: 25px;
    text-align: left;
}
.goto:after{
    content:"";
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    background-position: -85px -52px;
    width: 18px;
    height: 14px;
    /*top: 50%;*/
    margin-left: 10px;
    /*margin-top: -7px;*/
    transition: all .3s;
   right:-30px;
}
.goto:hover{
    background: #ef003c;
    padding-left: 10px;
}
.goto:hover:after{
    /*position: relative;*/
    right: 10px;
}

.s_star_header{
    padding: 77px 0;
    position: relative;
	height: 150%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
	-webkit-filter: contrast(200%);
}

.s_star_header_contrast{
	-webkit-filter: contrast(50%);
}

.s_star_header:before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.1);
    z-index: 1;
}
.s_star_header .star-item{
    position: relative;
    width: 200px;
    height: 300px;
    background-size: cover !important;
}
.s_star_header .wrap{
    position: relative;
    z-index: 2;
}
.s_star_header .star-item {
    background: #303239;
}
.star_desc{
    text-align: left;
    display: inline-block;
    vertical-align: top;
    border-radius: 2px;
    background: #3E4049;
    color: #fff;
    padding: 30px 25px;
    width: 400px;
}
.star_desc h3{
    color: #fff;
    text-align: left;
    font-size: 20px;
    margin-bottom: 15px;
}

.star_desc p{
    color: #fff;
    font-family: arial;
    font-size: 16px;
    margin-bottom: 15px;
}
.star_desc_sp{
    text-align: left;
    display: inline-block;
    vertical-align: top;
    border-radius: 2px;
    background: #00c47f;
    color: #fff;
    padding: 30px 25px;
    width: 470px;
}

.rates {
    position: relative;
    bottom: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 15px;
    width: 100%;
    left: 0;
}

.rates > span{
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    border: 2px solid #ef003c;
    position: relative;
    transition: all .3s;
	background-color: #ef003c;
}

.lt p{
	color: #252525;
	font-size: 14px;
	margin-top: 30px;
	text-align:center;
	line-height:1.5;
}

.line {
	float: left;
	padding:0;
}

.prices {
	display:inline-block;
	color: #ff9700;
	font-size: 20px;
	vertical-align: baseline;
	position: relative;
	margin-top:6px;
	margin-left: 22px;
	margin-right:22px;
}

.set_price{
	position: relative;
	display:inline-block;
	width: 300px;
	vertical-align:baseline;
}

.set_price p{
	float: left;
	display:inline-block;
	margin-top: 8px;
}

strong{
    font-weight: bold;
}
.star_desc p a{
    color: #fff;
}
.star_desc p a:hover{
    color: #ef003c;
}

h4{
    font-family: roboto-bold;
    font-size: 20px;
    margin-bottom: 20px;
    color: #ef003c;
}
h4 a{
    color: #303239;
}
h4 a:hover{
    color: #ef003c;
}
.alignright{
    text-align: right;
}
.seemore.goto{
    display: inline-block;
    padding: 10px 20px;
    width: 100px;
    color: #303239;
    padding-left: 28px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.seemore.goto:hover{
    color: #fff;
    padding-left: 20px;
}

.small_section{
    padding: 25px 0;
}

.leftcontent  .small_section .star-item{
    margin-right: 20px;
    margin-bottom: 20px;
}

.small_section .star-item .star-hover{
    display: none;
}

.small_section .star-item a{
    width: 132px;
    height: 190px;
}

.small_section .star-item:hover .star-title{
    bottom: 0;
    background: rgba(22, 167, 157, 1);
}
.small_section .star-item .star-title{
    font-size: 12px;
    transition-delay: 0s;
   background: rgba(22, 167, 157, 0.9);
    padding: 15px 15px;
}
.logged .leftcontent .small_section .star-item:nth-child(3n+3), .logged .leftcontent .small_section .star-item:nth-child(4n+4) {
    margin-right: 20px;
}
.logged .leftcontent .small_section .star-item:nth-child(5n+5) {
    margin-right: 0px;
}
.d_none{
    display: none;
}
.pager{
    margin: 20px 0;
    text-align: center;
    position: relative;
}
.pager_item{
    display: inline-block;
    vertical-align: top;
     margin: 0 10px;
}
.pager_item a, .pager_nav a{
    display: block;
    font-size: 15px;
    font-family: arial;
    padding: 4px 8px;
    border: 2px solid #ef003c;
    color: #303239;
    font-weight: bold;
}
.pager_item a:hover, .pager_item.active a{
    color: #fff !important;
    background: #ef003c;
}
.pager_nav{
    position: relative;
    width: 60px;
    text-align: center;
    overflow: hidden;
}
.pager_nav a:before{
    content:"";
    display: inline-block;
    position: absolute;
    transition: all .3s;
    width: 18px;
    height: 14px;
    top: 50%;
    margin-top: -7px;
    background-position: -85px -52px;
}
.pager_nav.prev a:before{
    left: -40px;
    -moz-transform: rotate(180deg); /* Для Firefox */
    -ms-transform: rotate(180deg); /* Для IE */
    -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(180deg); /* Для Opera */
    transform: rotate(180deg);
}
.pager_nav.next a:before{
    right: -40px;
}
.pager_nav:hover{
    text-indent: -9999px;

}
.pager_nav.prev:hover a:before{
    left: 20px;
}
.pager_nav.next:hover a:before{
    right: 20px;
}

/*-----------Star---------*/
.s_buybtn{
    margin:0;
}

.pos {
	margin-right:122px;
}

.prices_i {
	display:inline-block;
	color: #ff9700;
	font-size: 20px;
	vertical-align: baseline;
	position: relative;
	margin-top:6px;
	margin-left: 22px;
	margin-right:62px;
}

.prices_in {
	display:inline-block;
	color: #ff9700;
	font-size: 20px;
	vertical-align: baseline;
	position: relative;
	margin-top:6px;
	margin-left: 16px;
	margin-right:62px;
}

/*---------register page-----------*/

.s_star_header_bg {
    position: absolute;
	min-height:550px;
	width:100%;
	background-size: cover;
	display: block;
	z-index: 1;
}
form {
	color: #fff;
	width: 400px;
}
.reg h3, .oh h3{
	color:#fc9700;
}
.msg{
	position: absolute;
	margin: 10px;
}
.star-hover .msg p{
	font-weight:200;
	color: #ff9700;
}
.reg {
	position:relative;
	z-index:10;
	padding-top:50px;
}
.reg_f {
	padding-left: 300px;
}
form ul li {
	margin-bottom: 20px;
}
form input{
	float: right;
}
.register{
	margin-left: 128px;
	margin-top: 570px;
	position:absolute;
}
.oh {
	margin-top: 40px;
	margin-bottom: 80px;
	z-index:100;
}

.login_pad{
	float:right;
	margin-right: 82px;
}

.btn1 {
	display: block;
    padding: 8px 15px;
    background: #00c47f;
    border-radius: 2px;
	border: 0;
	width:90px;
	color:#fc9700;
	font-size: 16px;
	font-weight: 500;
	cursor:pointer;
}

.oh hr{
	margin-bottom:25px;
}

/*----------Account-----------*/

.usr{
	width: 100%;
	height: 120px;
	position: relative;
	margin-bottom:30px;
}

.user_photo{
	display: inline-block;
	vertical-align: middle;
    border: 2px solid #00c47f;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-size: cover !important;
    margin-top: -2px;
	float: left;
}

.usr li{
	line-height:1.5;
	margin-left:150px;
}

.s_text{
	font-weight: 600;
	color:#00c47f;
}

.balance {
	position: relative;
	float: right;
	color:#ff9700;
}

hr{
	border-top: 2px solid #00c47f;
	margin:0;
}

.mt{
	margin-top:30px;
}

/*------Slider--------*/

.slide-1{ 
	width:1000px; 
	margin-bottom:30px;
}

.slide-1 .slider{ 
	width:1000px;
	height:360px;
	overflow: hidden;
	/*border:#eee solid 10px;*/
	position:relative;
}

.slide-1 .slide{ 
	width:auto;
	height:100%;
}
	
.sli-links{ 
	margin-top:10px;
	text-align:center;
}
	
.sli-links .control-slide{
	margin:2px;
	display:inline-block;
	width:16px;
	height:16px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(/stocktradinggame/resources/images/account/radioBg.png) center bottom no-repeat;}

.sli-links .control-slide:hover{
	cursor:pointer;
	background-position:center center;}

.sli-links .control-slide.active{
	background-position:center top;}

.prewbutton, .nextbutton{ 
	display:block;
	width:15px;
	height:100%;
	position:absolute;
	top:0;
	overflow:hidden;
	text-indent:-999px;
	background:url(/stocktradinggame/resources/images/account/arrowBg.png) left center no-repeat;
	opacity:0.8;
	z-index:99;
	outline:none !important;
}

.prewbutton{left:10px;}

.nextbutton{
	right:10px;
	background:url(/stocktradinggame/resources/images/account/arrowBg.png) right center no-repeat;
	z-index:100;
}

.slide-1 .prewbutton:hover, .nextbutton:hover{
	opacity:1;}

/*-----running line--------*/	
.money {
	font-weight:600;
}

marquee{
	margin-bottom: 20px;
	display: inline-block;

}
marquee p a .stock_name{
	display:inline-block;
}

.stock_name{
	margin-left: 5px;
}

.arr {
	display: inline-block;
    height: 10px;
	width: 13px;
    background-size: cover !important;
    margin-left: 5px;
	margin-right: 5px;
	padding:0;
	margin-top: 3px;
}
/*---------------modal----------------------*/
.modal {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(0,0,0,0.5);
z-index: 10000;
-webkit-transition: opacity 500ms ease-in;
-moz-transition: opacity 500ms ease-in;
transition: opacity 500ms ease-in;
opacity: 0;
pointer-events: none;
}

.modal:target {
opacity: 1;
pointer-events: auto;
}

.modal > div {
width: 500px;
background: #fff;
position: relative;
margin: 10% auto;
-webkit-animation: minimise 500ms linear;
padding: 30px;
/*-moz-border-radius: 7px;
border-radius: 7px;*/
-webkit-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
-moz-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
box-shadow: 0 3px 20px rgba(0,0,0,0.9);
background: -moz-linear-gradient(#fff, #ccc);
background: -webkit-gradient(linear, right bottom, right top, color-stop(1, rgb(255,255,255)), color-stop(0.57, rgb(230,230,230)));
text-shadow: 0 1px 0 #fff;
}

.modal:target > div {
-webkit-animation-name: bounce;
}

.modal h2 {
font-size: 24px;
padding: 0 0 20px;
}

@-webkit-keyframes bounce {
  0% {
  	-webkit-transform: scale3d(0.1,0.1,1);
  	-webkit-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
  55% {
  	-webkit-transform: scale3d(1.08,1.08,1);
  	-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0);
  }
  75% {
  	-webkit-transform: scale3d(0.95,0.95,1);
  	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.9);
  }
  100% {
  	-webkit-transform: scale3d(1,1,1);
  	-webkit-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
}

@-webkit-keyframes minimise {
  0% {
  	-webkit-transform: scale3d(1,1,1);
  }
  100% {
  	-webkit-transform: scale3d(0.1,0.1,1);
  }
}

.modal a[href="#close"] {
position: absolute;
right: 0;
top: 0;
color: transparent;
}

.modal a[href="#close"]:focus {
outline: none;
}

.modal a[href="#close"]:after {
content: 'X';
display: block;
position: absolute;
right: -10px;
top: -10px;
width: 1.5em;
padding: 1px 1px 1px 2px;
text-decoration: none;
text-shadow: none;
text-align: center;
font-weight: bold;
background: #000;
color: #fff;
border: 3px solid #fff;
-moz-border-radius: 20px;
border-radius: 20px;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.modal a[href="#close"]:focus:after,
.modal a[href="#close"]:hover:after {
-webkit-transform: scale(1.1,1.1);
-moz-transform: scale(1.1,1.1);
}

.modal a[href="#close"]:focus:after {
outline: 1px solid #000;
}

.display-none {
	display: none;
}
.error-message {
	color: #ef003c;
	margin-left: 340px;
	font-weight: 600;
	font-size: 14px;
}

.error-register-message {
	color: #ef003c;
	font-weight: 600;
	margin-left: 15%;
	font-size: 14px;
}

.stock-error {
	margin-top: 10px;
	margin-left: 30px;
	font-size: 14px;
	font-waight:600;
}